:root {
  --darkgreen: #24e5a3;
  --lightgreen: #5ef4d6;
  --purple: #4143b1;
  --darkpurple: #221727;
  --yellow: #f1fff6;
  --rubik: 'Rubik', sans-serif;
  --viga: 'Viga', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url('./images/background.png');
  background-repeat: no repeat;
  background-size: cover;
  height: 100vh;
}
nav {
  background-color: var(--darkpurple);
  height: 5rem;
  /* position: fixed; */
}
nav img {
  margin-left: 2rem;
  margin-top: 1rem;
}

nav .nav_icon {
  float: right;
  color: var(--darkgreen);
  margin-right: 2rem;
  margin-top: 1.5rem;
  font-size: 1.6rem;
}

.nav_links {
  display: flex;
  list-style: none;
  float: right;
  margin-top: 2rem;
  font-family: var(--rubik);
  margin-right: 4rem;
}
.nav_item {
  margin-right: 1rem;
}
.nav_link {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 5rem;
  text-align: left;
}
.card {
  border-radius: 0.5rem;
  border: solid 0.2rem var(--darkgreen);
  background-color: rgba(34, 23, 39, 0.8);
  color: white;
  width: 60%;
  max-height: 70vh;
  margin: 0.1rem 1rem;
  padding: 2rem 2rem;
  overflow: auto;
}
.card_title {
  font-family: var(--viga);
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}
.card_text {
  font-family: var(--rubik);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 2rem;
  word-wrap: break-all;
}
.button {
  background-color: var(--lightgreen);
  text-decoration: none;
  font-family: var(--rubik);
  text-transform: uppercase;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
}
.button:hover {
  background-color: #ddd;
  color: black;
}

/* desktop view  */
@media screen and (min-width: 768px) {
  .nav_links {
    display: flex;
  }
  .nav_icon {
    display: none;
  }
  .hero {
    position: absolute;
    top: 14rem;
    left: -5rem;
    width: 70%;
  }
  .card_text {
    font-size: 1.2rem;
  }
}
/* mobile view */
@media screen and (max-width: 767px) {
  .nav_links {
    display: none;
  }
  .nav_icon {
    display: block;
  }
  .card {
    min-width: 70%;
  }
  .button {
    font-size: 0.7rem;
    padding: 0.5rem 0.3rem;
    margin-bottom: 1rem;
  }
}
